.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: 0;
  max-width: 16px;
  max-height: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal__content {
  position: relative;
  padding: 28px 28px 36px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  max-width: 496px;
  max-height: 436px;
  font-family: "Cabinet Grotesk";
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.modal__content--login {
  width: 496px;
  height: 304px;
}

.modal__content--signup {
  max-height: 456px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  flex-shrink: 0;
}

.modal__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  transition: border-bottom 0.3s;
}

.modal__input:last-of-type {
  margin-bottom: 0;
  padding: 0;
}

.legend {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-button {
  display: flex;
  gap: 8px;
  margin-bottom: 0;
}

.modal__radio-input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.modal__radio-label {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.modal__submit {
  background-color: #000000;
  width: fit-content;
  height: 36px;
  border-radius: 4px;
  gap: 8px;
  padding: 8px 16px 8px 16px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: #0000006d;
  cursor: pointer;
  transform: scale(1.05);
}

.modal__submit:enabled {
  background: #000;
}

.modal__submit:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

.modal__switch-button {
  background: none;
  border: none;
  color: #757575;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-left: 0;
  padding: 0;
  transition: color 0.2s;
}
