.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: relative;
}

.toggle-switch__slider {
  background-color: #000;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  color: #7e7e7e;
  top: 6px;
}

.toggle-switch__text_F {
  left: 8px;
}

.toggle-switch__text_C {
  right: 8px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__slider {
  left: 30px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: white;
}
