.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__image {
  width: 100%;
  height: 498px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(211, 211, 211, 0.6);
  z-index: 1;
}

.modal__opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-style: none;
  padding: 0;
  margin: 0;
  height: 20px;
  background: transparent;
  z-index: 1;
}

.modal__content_type_image {
  margin: 0;
  height: 610px;
  padding: 0;
  position: relative;

  border-radius: 20px;

  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}

.modal__footer {
  padding: 0;
  background-color: transparent;
  font-family: "cabinet Grotesk", sans-serif;
  border-radius: 0;
  gap: 12px;
}

.modal__caption {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "cabinet Grotesk", sans-serif;
}

.modal__weather {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal__footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 32px 32px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.modal__delete {
  color: #ff4d00;
  font-size: 20px;
  font-family: "cabinet Grotesk", sans-serif;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
