.sidebar {
  display: flex;
  gap: 16px;
  margin: 0 116px 0 0;
  width: max-content;
}

.sidebar__username {
  width: auto;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin: 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
