.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 42px 24px;
  margin: 0;
  margin-top: 171px;
}

.footer__text {
  margin: 0;
}

.footer__copyright {
  margin: 0;
}
